<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}Wikidata Shape Expressions Inference{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% endblock head %}
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a href="{{ url_for('index') }}" class="navbar-brand">Wikidata Shape Expressions Inference</a>
      <ul class="navbar-nav mr-auto">
        <li><a href="{{ url_for('new_job') }}" class="nav-link">New job</a></li>
        <li><a href="https://www.wikidata.org/wiki/User:Lucas_Werkmeister/Wikidata_Shape_Expressions_Inference" class="nav-link">Documentation</a></li>
        <li><a href="//tools.wmflabs.org/" class="nav-link">Wikimedia Toolforge</a></li>
        <li><a href="https://gitlab.wikimedia.org/toolforge-repos/wd-shex-infer" class="nav-link">Source code</a></li>
      </ul>
      {% if oauth_username %}
      <span class="navbar-text">Logged in as {{ oauth_username | user_link }}</span>
      {% endif %}
    </nav>
    <main {% block main_tag_attributes %}class="container mt-3"{% endblock main_tag_attributes %}>
      {% block main %}
      {% endblock main %}
    </main>
  </body>
</html>
