{% extends "base.html" %}
{% block main %}
<h1>Wikidata Shape Expressions Inference</h1>
<p>
  This tool automatically infers <a href="http://www.wikidata.org/entity/Q29377880"><abbr title="Shape Expressions">ShEx</abbr></a> schemas
  from a set of exemplary Wikidata items selected by a <a href="https://www.wikidata.org/wiki/Q54871"><abbr title="SPARQL Protocol and RDF Query Language">SPARQL</abbr></a> query.
  For more information, including a brief introduction to <abbr title="Shape Expressions">ShEx</abbr>,
  please see the <a href="https://www.wikidata.org/wiki/User:Lucas_Werkmeister/Wikidata_Shape_Expressions_Inference">documentation page</a>.
</p>
{% if pending_jobs %}
<div>
  The following jobs are currently running:
  <ul>
    {% for job in pending_jobs %}
    <li>{{ job | job_line }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% if finished_jobs %}
<div>
  The following jobs have finished running:
  <ul>
    {% for job in finished_jobs %}
    <li>{{ job | job_line }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock main %}
