{% extends "base.html" %}
{% block main %}
<h1>{{ job.title }} (job #{{ job.id }})</h1>
{% if job.description %}
<blockquote class="blockquote" style="white-space: pre-wrap;">{{ job.description }}</blockquote>
{% endif %}
<p>
  This job was started on {{ job.datetime_created | time_element }} by {{ job.author_name | user_link }}
  {% if job.datetime_first_stopped %}
  and stopped sometime between {{ job.datetime_last_running | time_element(previous_datetime=job.datetime_created) }} and {{ job.datetime_first_stopped | time_element(previous_datetime=job.datetime_last_running) }}.
  {% else %}
  and is still running.
  {% endif %}
</p>
<div>
  Input:
  <ul>
    <li><a href="{{ url_for('view_job_sparql', id=job.id) }}">SPARQL query</a>{% if wdqs_url %} (<a href="{{ wdqs_url }}">Wikidata Query Service</a>){% endif %}</li>
    {% if job.url %}
    <li><a href="{{ job.url }}">More information</a></li>
    {% endif %}
  </ul>
</div>
{% if job.datetime_first_stopped %}
<div>
  Results:
  <ul>
    <li><a href="{{ url_for('view_job_shex', id=job.id) }}">ShExC code</a></li>
    <li><a href="{{ url_for('view_job_stdout', id=job.id) }}">standard output of the inference process</a></li>
    <li><a href="{{ url_for('view_job_stderr', id=job.id) }}">standard error of the inference process</a></li>
  </ul>
</div>
{% endif %}
{% endblock main %}
