{% extends "base.html" %}
{% block main %}
<h1>Create a new job</h1>
<p>
  You can start a new inference process here.
  Enter a SPARQL query to select items from which to collect data
  and submit the form.
  The query should be limited to no more than, say, 50 items,
  and return an <var>?entity</var> variable.
</p>
<p>
  You can use the <a href="https://query.wikidata.org/">Wikidata Query Service</a>
  to write the query and check its results before entering it here.
</p>
{% if csrf_error %}
<div class="alert alert-warning">
  Sorry, we couldn’t process this request
  (<abbr title="Cross-site request forgery">CSRF</abbr> protection failed).
  Please try submitting the form again.
</div>
{% endif %}
{% if rejected_due_to_blocks %}
<div class="alert alert-danger">
  Sorry, we couldn’t start this job now
  because the tool is currently blocked.
  Please try again later.
</div>
{% endif %}
{% if blocks %}
<div class="alert alert-danger">
  The tool is currently blocked for the following {% if (blocks | length) > 1 %}reasons{% else %}reason{% endif %}:
  {% for block in blocks %}
  {% if block %}
  <blockquote class="blockquote" style="white-space: pre-wrap;">{{ block }}</blockquote>
  {% else %}
  <i>No reason given.</i>
  {% endif %}
  {% endfor %}
</div>
{% endif %}
{% if rejected_due_to_pending_jobs %}
<div class="alert alert-warning">
  Sorry, we couldn’t start this job now
  because too many jobs are already running.
  Please try again later.
</div>
{% endif %}
{% if pending_jobs %}
<div class="alert alert-info">
  The following jobs are currently running:
  <ul>
    {% for job in pending_jobs %}
    <li>{{ job | job_line }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
<form method="post">
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  <div class="form-group">
    <label for="title">Title</label>
    <input id="title" class="form-control" aria-describedby="title-help" type="text" name="title" required placeholder="Musical scale items" {% if title %}value="{{ title }}"{% endif %}>
    <small id="title-help" class="form-text text-muted">The title is purely cosmetic and doesn’t have to be unique.</small>
  </div>
  <div class="form-group">
    <label for="description">Description <small class="text-muted">(optional)</small></label>
    <textarea id="description" class="form-control" name="description" placeholder="I’ve recently cleaned up some items in this area, so I want to see how the schema looks now." rows="3">{% if description %}{{ description }}{% endif %}</textarea>
  </div>
  <div class="form-group">
    <label for="url">URL <small class="text-muted">(optional)</small></label>
    <input id="url" class="form-control" type="url" name="url" placeholder="https://www.wikidata.org/wiki/User:Example/Whatever" {% if url %}value="{{ url }}"{% endif %}>
  </div>
  <div class="form-group">
    <label for="sparql">Query</label>
    <textarea id="sparql" class="form-control" name="sparql" required placeholder="SELECT (wd:Q42 AS ?entity) {}" rows="15" style="font-family: monospace;">{% if sparql %}{{ sparql }}{% endif %}</textarea>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
{% endblock main %}
