<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <script async src="{{ url_for('static', filename='annotate-wikidata-entity-ids-in-shex.js') }}"></script>
    <style>{{ css | safe }}</style>
  </head>
  <body>
    {{ shexHtml | replace('<pre>', '<pre id="shex">') | safe }}
  </body>
</html>
